<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe Game</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<h1 id="endGame"></h1>

<div class="tic-tac-toe">
    <div class="row">
        <div class="cell" onclick="makeMove(this)" data-value="1"></div>
        <div class="cell" onclick="makeMove(this)" data-value="2"></div>
        <div class="cell" onclick="makeMove(this)" data-value="3"></div>
    </div>
    <div class="row">
        <div class="cell" onclick="makeMove(this)" data-value="4"></div>
        <div class="cell" onclick="makeMove(this)" data-value="5"></div>
        <div class="cell" onclick="makeMove(this)" data-value="6"></div>
    </div>
    <div class="row">
        <div class="cell" onclick="makeMove(this)" data-value="7"></div>
        <div class="cell" onclick="makeMove(this)" data-value="8"></div>
        <div class="cell" onclick="makeMove(this)" data-value="9"></div>
    </div>
</div>
    <a href="{{url_for('restart')}}" style="padding: 50px;"> Restart</a>
<script>
    var dataFromServer = JSON.parse('{{data_json|safe}}');
</script>
<script src="../static/scripts/scripts.js"></script>
</body>
</html>
